.side-drawer {
  background: #ffffff;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  /* // top: 0; */
  max-width: 250px;
  min-width: 80px;
  transition: 0.2s;
  position: fixed;
  align-items: center;
  z-index: 100;
  height: 100%;
  overflow: auto;
}

.side-drawer.small {
  width: 5%;
}

.drawer__header {
  display: flex;
  justify-content: space-evenly;
}

.drawer .menu-container {
  position: relative;
  height: 100%;
}

.drawer .menu-container .menu-item {
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #199d76;
  display: block;
  font-weight: 500;
  font-size: 1.125rem;
  cursor: pointer;
  text-decoration: none;
}

.drawer .menu-container .menu-item:hover {
  background-color: #e9ecef;
  color: #199d76;
}

.side-drawer.open {
  transform: translateX(0);
  width: 20%;
  transition: 250ms;
  float: left;
}
